<app-form-todo (execute)="update($event)" #formTodo></app-form-todo>
  <div class="container">
    <mat-divider></mat-divider>
      <mat-card>
        <br>
        <mat-card-content>
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
        
              <!-- Weight Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"
                       (click)="showTodos(row.position)">
              </mat-row>
            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
  
  