<app-form-todo (execute)="update($event)" #formTodo></app-form-todo>
<div class="container">
  <mat-divider></mat-divider>
  <mat-card>
    <br>
    <mat-card-content>
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="#">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]=" element.isDone ? 'line' :  ''"> {{element.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef> Criado em </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]=" element.isDone ? 'line' :  ''"> {{element.createdAt | date: 'dd/MM/yyyy HH:mm ss'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialog('visualizar',element)">
                    <mat-icon>task</mat-icon>
                    <span>Ver Tarefas</span>
                </button>
                    <button mat-menu-item (click)="openDialog('editar',element)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="openDialog('deletar',element)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Remover</span>
                    </button>
                </mat-menu>
    
            </mat-cell>
        </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>