.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .center-title{
    text-align: center;
}

.mat-column-select {
  overflow: initial;
}