<app-form-todo (execute)="update($event)" #formTodo [render]=" true"></app-form-todo>
  <div class="container">
    <mat-divider></mat-divider>
      <mat-card>
        <br>
        <mat-card-content>
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
          
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="updateStatus($event, row)"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row) || row.isDone">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>
          
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]=" element.isDone ? 'line' :  ''"> {{element.name}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef > Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]=" element.isDone ? 'line' :  ''"> {{element.description}} </mat-cell>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="isDone">
                <mat-header-cell *matHeaderCellDef> Finalizado </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]=" element.isDone ? 'line' :  ''"> {{element.isDone ? "Sim": "Não"}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="createdAt">
                <mat-header-cell *matHeaderCellDef> Criado em </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]=" element.isDone ? 'line' :  ''"> {{element.createdAt | date: 'dd/MM/yyyy HH:mm ss'}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"
                       (click)="selection.toggle(row)">
              </mat-row>
            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
  
  